<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <appSettings>
      <add key="heroesDatafile" value="Data\heroesdata.csv"/>
      <add key="specializationsDataFile" value="Data\specializationsdata.csv"/>
      <add key="rulesDatafile" value="Data\rulesdata.csv"/>
      <add key="colorsDatafile" value="Data\colorsdata.csv"/>
      <add key="saveFolder" value="Save"/>
    </appSettings>
</configuration>
